<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<div class="container">
  <section @fade id="home">
    <div class="main">
      <div class="background">
          <div class="circle xxlarge shade1"></div>
          <div class="circle xlarge shade2"></div>
          <div class="circle large shade3"></div>
          <div class="circle mediun shade4"></div>
          <div class="circle small shade5"></div>
        
      </div>
      
      <div class="intro">
        <h2 class="line-1 anim-typewriter">Hi! I am <span class="highlight">Agnés Masip Gómez</span></h2>
        
          
          <h5 >I'm a software engineer and a full-stack developer.</h5>
          <div class="buttons">
          <a href="#aboutMe"><button mat-raised-button>Know more</button></a>
          <button style="background-color: #450404" mat-raised-button>Download my CV</button>
        </div>
          <!-- 
          <i class="material-icons" style="font-size:48vh;color:#450404; align-content: center;">circle</i>
        -->
      </div>
    </div>
  </section>

  <section id="aboutMe">
    <div class="screen_container">
      <h2 class="title">About Me</h2>
        <div class="card">
          <div class="table">
            
            <div class="job">
              <i class="material-icons" style="font-size:13vh;color:rgb(161, 17, 17)">laptop</i>
              <div class="expl">
              <h1>Front-End Developer</h1>
              <p>Experience in <span>Web development</span> and <span> Android mobile applications</span>.</p>
            </div>
              <div class="programs">
                <img src="../../../assets/img/html.png" alt="html logo" width="auto" height="100">
                <img src="../../../assets/img/css.png" alt="html logo" width="auto" height="100">
                <img src="../../../assets/img/js.png" alt="html logo" width="auto" height="100">
                <br>
                <img src="../../../assets/img/angular.png" alt="html logo" width="auto" height="100">
                <img src="../../../assets/img/react.png" alt="html logo" width="auto" height="100">
                
              </div>
            </div>
            <div class="job">
              <i class="material-icons" style="font-size:13vh;color:rgb(161, 17, 17);">storage</i>
              <h1>Back-End Developer</h1>
              <p>Experience in the creation of <span>API REST</span> from scratch and the deployment and manteinance of <span>servers and databases</span>.</p>
              
              <select @fade (change)="selectChangeHandler($event)">
                <option value="Deployment">Deployment</option>
                <option value="Code">Code</option>
                <option value="Databases">Databases</option>
                <option value="Documentation">Documentation</option>
                <option value="Testing">Testing</option>
            </select>
            <img src={{img1}} width="auto" height="100">
            <img src={{img2}} width="auto" height="100">
            <img src={{img3}} onerror="hideImg()" width="auto" height="100">
            <script>
              function hideImg() {
                document.getElementById("HideImg")
                                  .style.display = "none";
               }
            </script>
            <!-- 
              <h2>Node.js,Express,JS</h2>
              <label for="option2">Deployment</label>
                  <article>
                    <P>AWS EC2, Heroku, Docker</P>
                    <label for="option3">Databases</label>
                  </article>
                  <article>
                    <P>Sqlite3, Firebase, MongoDB</P>
                  </article>
                  <label for="option4">Documentation</label>
                  <article>
                    <P>Postman, OpenAPI, Swagger</P>
                  </article>
                  <label for="option5">Testing</label>
                  <article>
                    <P>Mocha, Chai</P>
                  </article>
                  
               
                 
               -->
              
              
            </div>
            <div class="job">
              <i class="material-icons" style="font-size:13vh;color:rgb(161, 17, 17);">waterfall_chart</i>
              <h1>Software Engineer</h1>
              <p>Experience in the creating of many software <span>projects plans</span>; UML diagrams, <span>time and money management</span> and requisites.</p>
              <h3>Agile Methodologies</h3>
              <h3>UML, OCL</h3>
              <h3>Requirements engineer</h3>
              
            </div>
          </div>
        </div>
        <!--
          <button mat-raised-button>More information about programming languages and my experience with them</button>
        -->
        </div>
   
    

  </section>
  <section id="studies">
    <div class="screen_container">
          <h2 class="title">Studies</h2>
          <div class="timeline">
         
            <div class="timeline-item">
             
        
              <div class="timeline-content timeline-card">
                <div class="timeline-img-header-pedrera">
                  <h2>La Pedrera Foundation</h2>
                </div>
                <div class="date">2016-2018</div>
                <p>Several projects and courses like "Crazy for New Technologies" and <span>"Barcelona International Youth Science Challenge"</span></p>
               <br>
              </div>
            </div> 
        
            <div class="timeline-item">
        
              
        
              <div class="timeline-content timeline-card ">
                <div class="timeline-img-header-upc">
                  <h2>UPC</h2>
                </div>
                <div class="date">2018-2022</div>
                <p>Bachelor in Computer Science, specialized in <span>Software Engineering</span>.</p>
               <br>
              </div>
        
            </div>   
        
            <div class="timeline-item">
        
        
              <div class="timeline-content timeline-card">
                <div class="timeline-img-header-rwth">
                  <h2>RWTH</h2>
                </div>
                <div class="date">2021</div>
                <p>Student in <span>UNITECH INTERNATIONAL</span>.</p>
                <p>Programme which complements their traditional studies with foreign exposure and <span>management training</span>, as well as coaching by senior members of the network.</p>
                <br>
              </div>
            </div>   
        <!--
            <div class="timeline-item">
        
              <div class="timeline-img"></div>
        
              <div class="timeline-content js--fadeInRight">
                <h2>Title</h2>
                <div class="date">22 JUN 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
              </div>
            </div>  
            --> 
        
           
              
             
            </div>
      
      <!-- I SHOULD DO THIS ONE FOR SURE!!!!
        <button mat-raised-button>More information about my whole academic experience</button>
      -->

    
    </div>
  </section>
  <section @fade id="work">
    <div class="screen_container">
      
          <h2 class="title" >Work experience</h2>
          <div class="tabordion">
            <section id="section1">
              <input type="radio" name="sections" id="option1" checked>
              <label for="option1">FIB Visiona</label>
              <article @fade>
                <h2>FIB Visiona Organizer</h2>
                <br>
                <ng-image-slider [images]="FVImages"[imageSize]="{width: '800', height: '300', space: 2}" #nav></ng-image-slider>
                
                <br>
                <p> Manteinance of the company's website and updating its content.</p>
                <p> Responsible for the good use of the platforms for our online career fairs. We used Attendify and Eventmobi.</p>
                <p> Connect companies with the students who filled their role the best.</p>
                <p> Main organizer of all events.</p>
              </article>
            </section>
             
            <section id="section2">
              <input type="radio" name="sections" id="option2">
              <label for="option2">UNITECH</label>
              <article @fade>
                <h2>UNITECH</h2>
                <P>I dont know yet</P>
              </article>
            </section>
            
          </div>

          

    </div>
  </section>
  <section id="projects">
    <div class="screen_container">
      <div class="title">
          <h2>Projects</h2>
          <i class="fas fa-github"></i>
      </div>
      <div class="projects1">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="offhome-image"></div>
            <mat-card-title>OFF-Home</mat-card-title>
            <mat-card-subtitle>Social Outdoors Fitness App</mat-card-subtitle>
          </mat-card-header>
          <ng-image-slider [images]="OFFHomeImages"[imageSize]="{width: '700', height: '420', space: 2}" #nav></ng-image-slider>
          <mat-card-content>
            <div class="space"></div>

            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Technologies used
                  </mat-panel-title>
                  <mat-panel-description>
                    Node.js AWS
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Responsible of the backend of this Android app. Deployed with Docker in AWS. Tested with Mocha and Chai. Used Express.js and sqlite3 and firebase. Documented in Postman. Analysis with Amazon CloudWatch and Postman Monitor.
                </p>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
          <mat-card-actions>
            <div class="buttonCard">
              <button mat-button>
                <img class="github" src="../../../assets/img/googleplay.png">
              </button>
              <button mat-button>Backend</button>
              <button mat-button>Frontend</button>
            </div>
            
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="kakuro-image"></div>
            <mat-card-title>Kakuro Game</mat-card-title>
            <mat-card-subtitle>Kakuro Solver, Maker and Ranking</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../../assets/img/kakuro.jpg" alt="Logo of Kakuro">
          <mat-card-content>

            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Technologies used
                  </mat-panel-title>
                  <mat-panel-description>
                    JAVA
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Responsible of the backend of this Android app. Deployed with Docker in AWS. Tested with Mocha and Chai. Used Express.js and sqlite3 and firebase. Documented in Postman. Analysis with Amazon CloudWatch and Postman Monitor.
                </p>
              </mat-expansion-panel>
            </mat-accordion>
           
          </mat-card-content>
          <mat-card-actions>
            <div class="buttonCard">
              <button mat-button>
                <div class="buttonLine">
                  <img class="github" src="../../../assets/img/github.png">
                  <p>Backend</p>
                </div>
              </button>
              <button mat-button>Frontend</button>
            </div>
            
          </mat-card-actions>
        </mat-card>
      </div>
        <div class="projects2">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="hackernews-image"></div>
            <mat-card-title>HackerNews Clone</mat-card-title>
            <mat-card-subtitle>Responsive web (auth), API Creation</mat-card-subtitle>
          </mat-card-header>
          <ng-image-slider [images]="HackerNewsImages" #nav></ng-image-slider>
          <img mat-card-image src="../../../assets/img/hackernews.jpg" alt="Logo of HackerNews">
          <mat-card-content>

            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Technologies used
                  </mat-panel-title>
                  <mat-panel-description>
                    Ruby Yaml React
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Ruby on Rails for the clone, with authoritation and deployed in Heroku. Added JSON capabilities to create an API in Swagger. Used this API for another clone made with React-web and deployed in another server.
                </p>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>GITHUB Backend</button>
            <button mat-button>GITHUB Frontend</button>
          </mat-card-actions>
        </mat-card>
    
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="sagma-image"></div>
        <mat-card-title>Travel Itinerary Webapp</mat-card-title>
        <mat-card-subtitle>Distributed Systems Travel App</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/sagma.png" alt="Logo of Sagma">
      <mat-card-content>

        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Technologies used
              </mat-panel-title>
              <mat-panel-description>
                Python Owl
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Ruby on Rails for the clone, with authoritation and deployed in Heroku. Added JSON capabilities to create an API in Swagger. Used this API for another clone made with React-web and deployed in another server.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>GITHUB Backend</button>
        <button mat-button>GITHUB Frontend</button>
      </mat-card-actions>
    </mat-card>
</div>
      
    </div>
  </section>
</div>
  

