<div class="container">
    <div class="title">
        <h1>Repository of my Projects</h1>
        <p style="background-color: rgb(248, 236, 236);">These are many of my projects. Some are university-related. Others projects on my free time.</p>
    </div>

    <div class="listP">
    
        <section class="section">
            <img class="img1" src="../../../assets/img/offhome.jpg" alt="OFF-Home logo">
            <div class="blockL">
                <h2>OFF-Home</h2>
                    <ul class="tagsR">
                        <li class="tagsR" ><a class="tags">Node.js</a></li>
                        <li class="tagsR" ><a class="tags">Express</a></li>
                        <li class="tagsR" ><a class="tags">AWS</a></li>
                        <li class="tagsR" ><a class="tags">Sqlite3</a></li>
                        <li class="tagsR" ><a class="tags">Docker</a></li>
                    </ul>
                <p><a href="https://offhome.es/"></a></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora asperiores velit odit vel dignissimos sed repudiandae nisi? Saepe dicta, accusamus incidunt voluptate obcaecati ducimus consectetur fugit facilis quo, distinctio, aut architecto quas autem asperiores delectus adipisci eius error! Sint animi soluta dolorum sapiente consectetur eaque error suscipit a similique facilis?</p>
            </div>
        </section>

        <section class="section">
            <img class="img2" src="../../../assets/img/hackernews.jpg" alt="Hackernews logo">
            <div class="blockR">
                <h2>HackerNews </h2>
                <ul class="tagsL">
                    <li class="tagsL" ><a class="tags">Ruby On Rails</a></li>
                    <li class="tagsL" ><a class="tags">React</a></li>
                    <li class="tagsL" ><a class="tags">Heroku</a></li>
                </ul>
                <p> dos deploymentsLorem ipsum dolor sit amet consectetur adipisicing elit. Tempora asperiores velit odit vel dignissimos sed repudiandae nisi? Saepe dicta, accusamus incidunt voluptate obcaecati ducimus consectetur fugit facilis quo, distinctio, aut architecto quas autem asperiores delectus adipisci eius error! Sint animi soluta dolorum sapiente consectetur eaque error suscipit a similique facilis?</p>
            </div>
        </section>
        
        <section class="section">
            <img class="img1" src="../../../assets/img/sagma.png" alt="Itinerario SAGMA logo">
            <div class="blockL">
                <h2>SAGMA Travel Itinerario </h2>
                <ul class="tagsR">
                    <li class="tagsR" ><a class="tags">Distributed Systems</a></li>
                    <li class="tagsR" ><a class="tags">Python</a></li>
                </ul>
                <h4> </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora asperiores velit odit vel dignissimos sed repudiandae nisi? Saepe dicta, accusamus incidunt voluptate obcaecati ducimus consectetur fugit facilis quo, distinctio, aut architecto quas autem asperiores delectus adipisci eius error! Sint animi soluta dolorum sapiente consectetur eaque error suscipit a similique facilis?</p>
            </div>
        </section>
        <section class="section">
            <img class="img2" src="../../../assets/img/moira.png" alt="MOIRA Game logo">
            <div class="blockR">
                <h2>EDA JOC</h2>
                <ul class="tagsL">
                    <li class="tagsL" ><a class="tags">C++</a></li>
                    <li class="tagsL" ><a class="tags">Path-finding algorithms</a></li>
                </ul>
                <h4> </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora asperiores velit odit vel dignissimos sed repudiandae nisi? Saepe dicta, accusamus incidunt voluptate obcaecati ducimus consectetur fugit facilis quo, distinctio, aut architecto quas autem asperiores delectus adipisci eius error! Sint animi soluta dolorum sapiente consectetur eaque error suscipit a similique facilis?</p>
            </div>
        </section>
        
        <section class="section">
            <img class="img1" src="../../../assets/img/kakuro.jpg" alt="Kakuros">
            <div class="blockL">
                <h2>PROP Kakuro Game  (databases forbidden)</h2>
                <h4>JAVA</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora asperiores velit odit vel dignissimos sed repudiandae nisi? Saepe dicta, accusamus incidunt voluptate obcaecati ducimus consectetur fugit facilis quo, distinctio, aut architecto quas autem asperiores delectus adipisci eius error! Sint animi soluta dolorum sapiente consectetur eaque error suscipit a similique facilis?</p>
            </div>
        </section>
        

        <section class="section">
            <img class="img2" src="../../../assets/img/moira.png" alt="MOIRA Game logo">
            <div class="blockR">
                <h2>PRO2 Codificador Idiomes </h2>
                <h4>C++</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora asperiores velit odit vel dignissimos sed repudiandae nisi? Saepe dicta, accusamus incidunt voluptate obcaecati ducimus consectetur fugit facilis quo, distinctio, aut architecto quas autem asperiores delectus adipisci eius error! Sint animi soluta dolorum sapiente consectetur eaque error suscipit a similique facilis?</p>
            </div>
        </section>

        <section class="section">
            <img class="img1" src="../../../assets/img/moira.png" alt="MOIRA Game logo">
            <div class="blockL">
                <h2>IDI Simpson</h2>
                <h4>C++</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora asperiores velit odit vel dignissimos sed repudiandae nisi? Saepe dicta, accusamus incidunt voluptate obcaecati ducimus consectetur fugit facilis quo, distinctio, aut architecto quas autem asperiores delectus adipisci eius error! Sint animi soluta dolorum sapiente consectetur eaque error suscipit a similique facilis?</p>
            </div>
        </section>
        
        
    </div>
</div>
