ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(161, 17, 17);
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.459);
  }
  

  li {
    float: right;
    
  }

  li a {
    background-color:rgb(161, 17, 17);
    display: block;
    color: white;
    text-align: center;
    padding: 1.4vh 1.6vh;
    text-decoration: none;
    font-size: 2vh;
  }

  li a:active {
    background-color: rgb(122, 13, 13);
  }

  .nom{
    float: left;
  }

.navbar{
  position: sticky;
   top: 0;
   z-index: 100;
}